* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  background-color: #212529;
}

body {
  background-color: #212529;
  color: #f8f9fa;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}